/ptt.pdb
/Samples/Sample8/Sample8.vcproj.PC.Eugene.user
/Samples/SoundSample/obj
/Samples/Temp
/Samples/Samples.ncb
/Samples/MultiClientSample/obj
/Samples/Sample1/Sample1.vcproj.PC.Eugene.user
/Samples/Sample2/Release/BuildLog.htm
/Samples/Sample4/Sample4.vcproj.PC.Eugene.user
/Samples/Sample2/Sample2.vcproj.PC.Eugene.user
/Samples/*.suo
/Samples/bin/Debug
/Samples/Sample3/obj
/Samples/Sample6/obj
/Samples/Sample5/*.aps
/Samples/Sample5/Sample5.vcproj.PC.Eugene.user
/Samples/bin
