*.user
*.aps
*.ncb
*.suo
Samples/bin
Samples/Temp/
Samples/Sample6/obj
Samples/Sample3/obj
/Samples/Sample2/Release/BuildLog.htm
/Samples/SoundSample/obj/Release/TempPE
/Samples/MultiClientSample/obj/Release/TempPE
